# This workflow will install Python dependencies and run tests
name: Python application

on:
  push:
    branches: [master, devel]
  pull_request:
    branches: [master, devel]

jobs:

  test-packaging:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Poetry
        run: |
          pipx install poetry

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          architecture: 'x64'

      - name: Run poetry install
        run: |
          poetry env use '3.11'
          poetry install

      - name: Run pytest
        run: |
          poetry run pytest

      - name: Run code style checker
        run |
        poetry run flake8

     - name: Run code formatter
        run |
        poetry run black --check src
